@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{

/*Primary*/

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/*Neutral*/

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container-header{ 
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    margin-top: 100px;
}

.title-1{
    font-size: 32px;
    color: var(--Grayish-Blue);
    text-align: center;
    font-weight: lighter;
    line-height: 30px;

}

.title-2{
    text-align: center;
    color: var(--Very-Dark-Blue);

}

.content-1{
    /* background-color: red; */
    width: 540px;
    text-align: center;
    color: var(--Grayish-Blue);
    font-weight: 200;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    /* background-color: red; */
}

.card-1{
    margin-top: 25px;
    width: 400px;
    background-color: var(--Very-Light-Gray);
    height: 280px;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    bottom: 350px;
    border-top: 5px solid var(--Red);
    -webkit-box-shadow: -2px 11px 23px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 11px 23px -14px rgba(0,0,0,0.75);
    box-shadow: -2px 11px 23px -14px rgba(0,0,0,0.75);
}

.card-1:nth-child(1){
    bottom: 40px;
    border-top: 5px solid var(--Orange);
}

/* card calculator */
.card-1:nth-child(2){
    bottom: 250px;
    left: 250px;
    border-top: 5px solid var(--Blue);
    /* background-color: purple; */
    /* display: none; */
}
/* card supervisor */
.card-1:nth-child(3){
    right: 250px;
    bottom: 250px;
    border-top: 5px solid var(--Cyan);
}

.card-1:nth-child(4){
    top: 500;
    /* display: none; */
    /* background-color: orange; */
}

.title-card p{
    font-size: 20px;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

.content-card p{
    margin-top: 15px;
    font-size: 15px;
    width: 320px;
    color: var(--Grayish-Blue);
    /* background-color: green; */
}

.img-card img{
    margin-top: 60px;
    margin-left: 270px;
    
}